.box-container {
    margin-bottom: 1rem;
    margin-left: auto; 
    margin-right: auto;
    width: 80vw;
    max-width: 50rem;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

.box-title {
    background-color: #56a5eb;
    border-left: 0.1rem solid black;
    border-right: 0.1rem solid black;
    border-top: 0.1rem solid black;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
}

.box-box {
    height: 25rem;
    background-color: white;
    overflow: auto;
    border: 0.1rem solid black;
}

.regatta-btn {
    font-size: 1.5rem;
    width: 12rem;
    text-align: center;
    color: #56a5eb;
    background-color: white;
    border: none;
    border-left: 0.1rem solid black;
}

.regatta-btn:hover {
    box-shadow: 0.4rem 0.4rem 1rem 0 rgba(86, 185, 235, 0.5);
    transition: box-shadow 150ms;
    cursor: pointer;
}

.regatta-btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.add-regatta-container {
    display: flex;
    flex-direction: row;
    border: 0.1rem solid black;
    box-shadow: 0 0.2rem 0.8rem 0 rgba(86, 185, 235, 0.5);
}

.add-regatta-text {
    display: flex;
    flex-direction: column;
    width: 35vw;
}

.question-regatta {
    background-color: #56a5eb;
    color: white;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.regatta-input {
    padding: 0.5rem;
    border: none;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.delete-button {
    background-color: white;
    color: red;
    border:none;
    border-left: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    cursor: pointer;
    width: 3.5rem;
    font-size: 2rem;
    height: 100%;
}

.delete-button:hover {
    box-shadow: 0 0.2rem 1rem 0 rgba(86, 185, 235, 0.5);
}

.box-box-box {
    display: flex;
    padding: 1rem;
    font-size: 1.2rem;  
    border-bottom: 0.1rem solid black;
    cursor: pointer;
    flex: 1;
}

.listItemHolder {
    display: flex;
    height: 3.5rem;
}

@media only screen and (max-width:550px) {
    .box-box-box {
        font-size: 3.25vw;
        padding: 2.8vw;
    }
    .listItemHolder {
        display: flex;
        height: 10vw;
    }
    .delete-button {
        width: 10vw;
        font-size: 6vw;
    }
    .regatta-btn {
        width: 40vw;
    }
}